{% extends "layouts/base.html" %}

{% block title %} GOTRAK {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">GOTRAK</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">GOTRAK</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Survei keluhan gangguan otot rangka</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5>Informasi Pekerjaan</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form role="form" method="post" action="/snisub">
                                                    <div class="form-group">
                                                        <label>Perusahaan</label>
                                                        <input type="text" class="form-control" name="perusahaan"
                                                            id="perusahaan" placeholder="Perusahaan (optional)">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Nama</label>
                                                        <input type="text" class="form-control" name="nama" id="nama"
                                                            placeholder="Nama (opsional)">
                                                    </div>
                                            </div>
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label>Posisi/jabatan</label>
                                                    <input type="text" class="form-control" name="posisi" id="posisi"
                                                        placeholder="Posisi/jabatan (optional)">
                                                </div>
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" name="email" id="email" {%
                                                        if current_user.email %} readonly
                                                        value="{{ current_user.email }}" {% endif %}>
                                                </div>
                                            </div>






                                        </div>
                                        <h5 class="mt-5">Tugas dan Waktu</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Tugas</label>
                                                <input class="mb-3 form-control" type="text" placeholder="Tugas 1">
                                                <input class="mb-3 form-control" type="text" placeholder="Tugas 2">
                                                <input class="mb-3 form-control" type="text" placeholder="Tugas 3">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Waktu</label>
                                                <input class="mb-3 form-control" type="number" placeholder="Waktu 1">
                                                <input class="mb-3 form-control" type="number" placeholder="Waktu 2">
                                                <input class="mb-3 form-control" type="number" placeholder="Waktu 3">
                                            </div>
                                        </div>
                                        <h5 class="mt-5">6. Manakah yang merupakan tangan dominan Anda?</h5>
                                        <hr>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="kanan">
                                            <label class="custom-control-label" for="kanan">Kanan</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="kiri">
                                            <label class="custom-control-label" for="kiri">Kiri</label>
                                        </div>
                                        <h5 class="mt-5">7. Sudah berapa lama Anda bekerja pada posisi/jabatan saat ini?
                                        </h5>
                                        <hr>
                                        <div class="form-group">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option value="" selected disabled>Pilih berikut</option>
                                                <option value="3bulan">Kurang dari 3 bulan</option>
                                                <option value="1tahun">3 bulan - 1 tahun</option>
                                                <option value="5tahun">1-5 tahun</option>
                                                <option value="10tahun">5-10 tahun</option>
                                                <option value="10tahun">Lebih dari 10 tahun</option>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">

                                                <h5 class="mt-5">8. Seberapa sering Anda merasakan kelelahan mental
                                                    setelah
                                                    bekerja?</h5>
                                                <hr>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="tidak" name="mental"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="tidak">Tidak pernah</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="kadang" name="mental"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label"
                                                        for="kadang">Kadang-kadang</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="sering" name="mental"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="sering">Sering</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="selalu" name="mental"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="selalu">Selalu</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="mt-5">9. Seberapa sering Anda merasakan kelelahan fisik
                                                    setelah
                                                    bekerja?</h5>
                                                <hr>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="tidak" name="fisik"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="tidak">Tidak pernah</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="kadang" name="fisik"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label"
                                                        for="kadang">Kadang-kadang</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="sering" name="fisik"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="sering">Sering</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="selalu" name="fisik"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="selalu">Selalu</label>
                                                </div>
                                            </div>
                                        </div>


                                        <h5 class="mt-5">10. Pernahkan Anda mengalami rasa sakit/nyeri atau
                                            ketidaknyaman
                                            yang Anda anggap berhubungan dengan pekerjaan dalam satu tahun terakhir?
                                        </h5>
                                        <hr>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="ya" name="sakit" class="custom-control-input">
                                            <label class="custom-control-label" for="ya">Ya</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="tidakpernah" name="sakit"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="tidakpernah">Tidak</label>
                                        </div>

                                        <h5 class="mt-5">Jika jawaban No. 10 adalah Ya, silahkan isi survei berikut
                                        </h5>
                                        <hr>
                                        <label>
                                            <ul>Untuk setiap bagian tubuh mohon jelaskan
                                                <li> Pertanyaan "seberapa sering" yang dimaksud adalah seberapa sering
                                                    Anda
                                                    merasakan ketidaknyaman pada bagian tubuh tersebut.
                                                </li>
                                                <li> Pertanyaan "seberapa parah" yang dimaksud adalah tingkat
                                                    ketidaknyaman
                                                    dan
                                                    apakah rasa sakit itu menganggu kemampuan Anda untuk melakukan
                                                    pekerjaan
                                                    Anda.
                                                </li>
                                                <hr>
                                                <li> Catatan: "sakit" dapat berupa nyeri, kaku, mati rasa, kesemutan,
                                                    atau
                                                    rasa
                                                    terbakar.
                                                </li>
                                            </ul>

                                        </label>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="mt-5">Gambar bantuan</h5>
                                                <hr>
                                                <img src="{{ config.ASSETS_ROOT }}/images/fix.jpg" class="img-fluid"
                                                    alt="gotrak">
                                            </div>
                                            <div class="col-md-6">

                                                <h5 class="mt-5">Pilih bagian tubuh yang sakit</h5>
                                                <hr>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="kanan">
                                                    <label class="custom-control-label" for="kanan">Kanan</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="kiri">
                                                    <label class="custom-control-label" for="kiri">Kiri</label>
                                                </div>`


                                                <h5 class="mt-5">Seberapa sering pada Leher?</h5>
                                                <hr>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="tidakleher" name="seringleher"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="tidakleher">Tidak
                                                        pernah</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="kadangleher" name="seringleher"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label"
                                                        for="kadangleher">Kadang-kadang</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="seringleher" name="seringleher"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="seringleher">Sering</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="selaluleher" name="seringleher"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="selaluleher">Selalu</label>
                                                </div>


                                                <h5 class="mt-5">Seberapa parah pada Leher?</h5>
                                                <hr>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="tidakadaleher" name="leher"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="tidakadaleher">Tidak
                                                        ada
                                                        masalah</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="tidaknyamanleher" name="leher"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="tidaknyamanleher">Tidak
                                                        nyaman</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="sakitleher" name="leher"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="sakitleher">Sakit</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="sakitparahleher" name="leher"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="sakitparahleher">Sakit
                                                        parah</label>
                                                </div>

                                                <h5 class="mt-5">Seberapa sering pada Bahu?</h5>
                                                <hr>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="tidakbahu" name="seringbahu"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="tidakbahu">Tidak
                                                        pernah</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="kadangbahu" name="seringbahu"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label"
                                                        for="kadangbahu">Kadang-kadang</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="seringbahu" name="seringbahu"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="seringbahu">Sering</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="selalubahu" name="seringbahu"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="selalubahu">Selalu</label>
                                                </div>

                                                <h5 class="mt-5">Seberapa parah pada Bahu?</h5>
                                                <hr>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="tidakadabahu" name="bahu"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="tidakadabahu">Tidak ada
                                                        masalah</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="tidaknyamanbahu" name="bahu"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="tidaknyamanbahu">Tidak
                                                        nyaman</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="sakitbahu" name="bahu"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="sakitbahu">Sakit</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="sakitparahbahu" name="bahu"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="sakitparahbahu">Sakit
                                                        parah</label>
                                                </div>





                                            </div>
                                        </div>


                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                                <!-- Input group -->


                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    document.getElementById("leher").style.display = "none";

    document.getElementById("bahu").style.display = "none";
    function leher() {
        var x = document.getElementById("leher");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
    function bahuKiri() {
        var x = document.getElementById("bahu");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>
{% endblock javascripts %}