{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <!-- [ statistics year chart ] start -->
              <div class="col-xl-4 col-md-6">
                <div class="card card-event">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col">
                        <h5 class="m-0">Fitur Utama</h5>
                      </div>
                      <div class="col-auto">
                        <label
                          class="label theme-bg2 text-white f-14 f-w-400 float-right"
                          >PKM Ergo</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block border-bottom">
                    <div class="row d-flex align-items-center">
                      <div class="col-auto">
                        <i class="feather icon-zap f-30 text-c-green"></i>
                      </div>
                      <div class="col">
                        <a href="/gotrak">
                          <h3 class="f-w-300">Asesmen mandiri</h3>
                        </a>
                        <span class="d-block text-uppercase"
                          >Lakukan survei Gangguan Otot Rangka (GOTRAK) secara
                          mandiri sekarang</span
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-block">
                    <div class="row d-flex align-items-center">
                      <div class="col-auto">
                        <i class="feather icon-video f-30 text-c-red"></i>
                      </div>
                      <div class="col">
                        <a href="/sit">
                          <h3 class="f-w-300">Asesmen berbasis komputer</h3>
                        </a>
                        <span class="d-block text-uppercase"
                          >Estimasi model tubuh menggunakan kamera melalui
                          penerapan Computer Vision</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- [ statistics year chart ] end -->

              <!-- [ Main Content ] end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}
</div>
